
<div class="page-header">
	<h1>Define Your password</h1>
</div>

<%= form_tag reset_password_designer_path, method: "POST", class: "js-form" do %>
	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" id="password" name="designer[password]" class="form-control "/>
	</div>
	<div class="form-group">
		<label for="password_confirmation">Password Confirmation:</label>
		 <input type="password" name="designer[password_confirmation]" class="form-control " />
	</div>
	<button type="submit" name="commit" class="btn btn-lg btn-danger" />Define Password</button>
<%end%>