
<h1>Signup!</h1>

<%= form_tag signup_desiger_path, method: "POST", class: "js-form" do %>

	<p>Name: <input type="text" name="designer[name]" class="validate[required]" /></p>
	<p>Phone: <input type="text" name="designer[phone]" class="validate[required,custom[onlyNumberSp]]" /></p>
	<p>Email: <input class="validate[required,custom[email]]"  name="designer[email]" type="text" /></p>
	<p>Password: <input type="password" name="designer[password]" class="validate[required]"/></p>
	<p>Password Confirmation: <input type="password" name="designer[password_confirmation]" class="validate[required]" /></p>
	<p><input type="submit" name="commit" value="Submit"  /></p>

<%end%>