<%= semantic_form_for @designer, url: admin_designers_path, :html => {:class => "form-horizontal" } do |f| %>
  <div class="row">
      <div class="col-md-6">
        <%= f.inputs "Invite Designers to the portal" do %>
         
         <li class="string input optional stringish" id="designer_email_input"><label for="designer_email" class="label">Email</label><input id="designer_email" type="text" name="designer[email]">

         </li>

        <% end %>
      </div>
  </div>






  <%= f.actions %>
<% end %>
