<div class="header">
	<%= link_to "Appoint-me", root_url, class:"pull-left menu-item" %>


	<% unless current_designer %>
		<%#= link_to "Signup as designer", signup_designer_path , class:"pull-right menu-item" %>
		<%= link_to "Login as designer", login_designer_path , class:"pull-right menu-item" %>
	<% else %>
		<%= link_to "Logout", logout_designer_path, class:"pull-right menu-item" %>
	<% end %>
</div>